// Colors
$primary: #461e7d;
$secondary: #fd6600;
$complementary: #5738ff;
$black: #000000;
$white: #ffffff;

@import "./fonts.scss";

// CSS BELOW
body {
  background-color: $white;
  font-family: "Avenir-Light", Arial, Helvetica, sans-serif;
}

h3 {
  font-family: "Avenir-Black", Arial, Helvetica, sans-serif;
}

h5 {
  font-size: 15px;
  line-height: 1em;
}
// Filter

.filterTitle {
  text-align: left;
  font-family: "Avenir-Black", Arial, Helvetica, sans-serif;
  color: #000000;
  opacity: 1;
  padding-top: 20px;
}

//Cards
