// Colors
$primary: #461e7d;
$secondary: #fd6600;
$complementary: #5738ff;
$black: #000000;
$white: #ffffff;

@import "./fonts.scss";

// CSS BELOW
body {
  background-color: $white;
  font-family: "Avenir-Light", Arial, Helvetica, sans-serif;
}

h3 {
  font-family: "Avenir-Black", Arial, Helvetica, sans-serif;
}

// Filter

.filterTitle {
  text-align: left;
  font-family: "Avenir-Black", Arial, Helvetica, sans-serif;
  color: #000000;
  opacity: 1;
  padding-top: 20px;
  font-size: 15px;
  line-height: 1em;
}

.filterSubTitle {
  font-size: 15px;
  line-height: 1em;
}

//Cards

//CSSCheckBox

.container_filter {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.container_filter input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
  opacity: 0;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container_filter:hover input ~ .checkmark {
  background-color: rgb(128, 128, 128);
  z-index: 20;
}

/* When the checkbox is checked, add a blue background */
.container_filter input:checked ~ .checkmark {
  background-color: $complementary;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_filter input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_filter .checkmark:after {
  left: 7px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
